@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

:root {
  --back-color: #09A6BE;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

label {
  font-size: 1rem;
}

.photo {
  background-image: url(img/Ocean-ivan-bandura-2FEE6BR343k-unsplash.jpg);
  background-size: cover;
  width: 40vw;
  /*height: 100vh;*/
}

.right { 
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  /* background-color: rgba(3, 120, 137, 0.55); */
  background-color: var(--back-color);
}

.header {
  padding: 0rem 8rem;
  /* Change padding tp 0rem 4rem for all of the ones that have padding */
}

/* .header-text {
  max-width: 90%;
} */

p:nth-child(3) {
  margin-top: 2rem;
}

p {
  font-size: 1.6rem;
}

.header-form-text {
  margin-bottom: 1.2rem;
}

.form-section {
  padding: 2rem 8rem;
  margin: 1.2rem 0;
  background-color: white;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.80);
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  min-width: 35%; /*Note: Not sure if this is needed*/
}

.form-inputs > input {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}

.footer {
  padding: 0rem 8rem;
}

button {
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 68, 77, 0.93);
  color: white;
}

.footer-text {
  margin-top: 2rem;
}

input {
  outline: none;
  border: 2px solid #E5E7EB;
  border-radius: 0.2rem;
}

input:focus {
  border: 2px solid var(--back-color);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.36);
}

input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="password"]:invalid {
  border-color: red;
}