@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  display: flex;
}

label {
  font-size: 1rem;
}

.photo {
  background-image: url(img/Ocean-ivan-bandura-2FEE6BR343k-unsplash.jpg);
  background-size: cover;
  width: 40vw;
}

.right { 
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: 90px 140px;
  background-color: darkgray;
}

p:nth-child(3) {
  margin-top: 2rem;
}

p {
  font-size: 1.6rem;
}

.header-form-text {
  margin-bottom: 1.2rem;
}

.form-section {
  padding: 0 140px;
  margin: 1.2rem 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  min-width: 35%; /*Note: Not sure if this is needed*/
}

.form-inputs > input {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}

.footer {
  padding: 0 140px;
}

button {
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}