@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

:root {
  --back-color: #09A6BE;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

label {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.photo {
  background-image: url(img/Ocean-ivan-bandura-2FEE6BR343k-unsplash.jpg);
  background-size: cover;
  width: 40vw;
  /*height: 100vh;*/
}

.right { 
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  /* background-color: rgba(3, 120, 137, 0.55); */
  background-color: var(--back-color);
}

.header {
  max-height: 100%;
  /* padding-top: 8.5rem; */
}

.header-text {
  padding: 0rem 3rem;
}

p:nth-child(3) {
  margin-top: 1.5rem;
}

p {
  font-size: 1.6rem;
  max-width: 43ch;
}

.header-form-text {
  margin-bottom: 1.2rem;
}

.form-section {
  padding: 1.5rem 3rem;
  margin: 1.2rem 0;
  background-color: white;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.80);

  /* height: 32vh; */
  max-height: 100%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  min-width: 35%; /*Note: Not sure if this is needed*/
}

.form-inputs > input {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}

.footer {
  padding: 0rem 3rem;
  /* height: 34vh; */

  max-height: 100%;
}

button {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 68, 77, 0.93);
  color: white;

  box-shadow: 4px 4px 6px 0px rgb(72 72 72 / 48%);
  font-size: 1rem;
}

.footer-text {
  margin-top: 2rem;
}

.footer-text > p {
  font-size: 1.2rem;
}

input {
  outline: none;
  border: 2px solid #E5E7EB;
  border-radius: 0.2rem;
  font-family: 'DM Sans', sans-serif;
}

input:focus {
  border: 2px solid var(--back-color);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.36);
}

input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="password"]:invalid {
  border-color: red;
}

a {
  text-decoration: none;
  font-weight: 900;
}